
       *
        {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .box
        {
            width: 100%;
            height: 100%;
            border: 1px solid #000;
            background-image: linear-gradient(35deg,#21c666,#c42222);

            
        }