*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.box{
    width: 80%;
    border: solid black;
    margin: auto;
}
.box h1{
    background-color: blue;
    color: white;
    font: optional;
}
.menu{
background-color: gray;
color: black;
margin-top: 10px;

}
.menu a{
    color: black;
    padding: 25px;
    text-decoration: none;
}
.body{
    margin-top: 10px;
    background-color: gray;
    min-width: 300px;
}
.footer{
    background-color: aqua;
}